page-login {
  .logo-image {
    margin: 20px auto;
    width: 85px;
    height: 85px;
  }
  ion-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    ion-item {
      background-color: #3f3f3f !important;
      color: white !important;
      ion-label {
        color: white !important;
      }
    }
    // .login-button {
    //   display: flex;
    //   justify-content: center;
    // }
    .reminder {
      color: rgb(171, 171, 171);
      display: block;
      width: 100%;
      margin-top: 15px;
      padding-left: 15px;
      p {
        font-size: 14px;
        text-align: left;
      }
    }
    .registration {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      color: white;
      p {
        font-size: 15px;
      }
    }
  }
}
