<ion-content padding>
  <ion-grid>
    <img
      class="logo-image"
      src="./assets/images/logo.png"
    >
    <form #login="ngForm">
      <ion-item>
        <ion-label floating>
          Email
        </ion-label>
        <ion-input
          [(ngModel)]="authService.userEmail"
          email
          name="email"
          required
          type="text"
        ></ion-input>
      </ion-item>
      <p 
        *ngIf="wrongEmail" 
        class="wrong"
      >
        Błędny email
      </p>
      <ion-item>
        <ion-label floating>
          Hasło
        </ion-label>
        <ion-input 
          [(ngModel)]="authService.userPassword" 
          name="password" 
          required
          type="password" 
        ></ion-input>
      </ion-item>
      <p 
        *ngIf="wrongPassword" 
        class="wrong"
      >
        Błędne hasło
      </p>

      <button 
        (click)="loginUser()"
        block
        class="login-button"
        color="white"
        ion-button
        outline
      >
        Zaloguj
      </button>
    </form>

    <div class="reminder">
      <p [navPush]="reminderPage">
        Nie pamiętam hasła
      </p>
    </div>

    <div class="registration">
      <p>Nie masz konta?</p>
      <button 
        [navPush]="registerPage"
        color="white" 
        ion-button 
        outline 
      >
        Zarejestruj się!
      </button>
    </div>

  </ion-grid>
</ion-content>
