<ion-header>
  <ion-toolbar color="background">
    <ion-buttons start>
        <button
          (tap)="goBack()"
          icon-only
          ion-button
        >
            <ion-icon name="arrow-back"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title>
      {{ 'addChild.addChild' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <loader *ngIf="loader"></loader>

  <ion-grid>
    <form
      #childForm="ngForm"
      *ngIf="!newChildBlock"
      (ngSubmit)="addChild(childForm)"
    >
      <ion-list>
        <ion-item>
          <ion-label fixed>
            {{ 'addChild.name' | translate }}
          </ion-label>
          <ion-input
            name="name"
            ngModel
            placeholder="imię dziecka"
            required
            type="text"
          ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>
              <p>
                {{ 'addChild.weight' | translate }}
              </p>
              <p class="footer">
                ({{ 'addChild.date' | translate }})
              </p>
            </ion-label>
            <ion-input
              name="weight"
              ngModel
              placeholder="g"
              required
              type="number"
            ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label fixed>
                <p>
                  {{ 'addChild.length' | translate }}
                </p>
                <p class="footer">
                  ({{ 'addChild.date' | translate }})
                </p>
              </ion-label>
              <ion-input
                name="length"
                ngModel
                placeholder="cm"
                required
                type="number"
              ></ion-input>
            </ion-item>
        <ion-item>
          <p fixed>
            <p>
              {{ 'addChild.dateMain' | translate }}
            </p>
            <p class="footer">
              ({{ 'addChild.date' | translate }})
            </p>
          <button
            (ionChanged)="setDate($event);"
            [localeStrings]="object"
            [value]="date"
            class="datepicker-button"
            icon-left
            ion-button
            ion-datepicker
            item-end
          >
          <span>
            {{ showTime(date) }}
          </span>
          <ion-icon
            class="date-icon"
            name="calendar"
          ></ion-icon>
        </button>
        </ion-item>
        <ion-row>
            <ion-col>
              <div
                (tap)="takePicture()"
                class="button"
              >
                {{ 'addChild.takeImage' | translate }}
              </div>
            </ion-col>
            <ion-col>
              <div
                (tap)="setPicture()"
                class="button"
              >
                {{ 'addChild.loadImage' | translate }}
              </div>
            </ion-col>
          </ion-row>
      </ion-list>
      <button
        [disabled]="!childForm.valid"
        block
        class="submit-button"
        color="white"
        ion-button
        type="submit"
      >
        Dodaj
      </button>
    </form>

    <div
      *ngIf="newChildBlock"
      class="warning"
    >
      <ion-icon
        class="warning-icon"
        color="danger"
        name="alert"
      ></ion-icon>
      <h1 class="warning-first">
        {{ 'addChild.error' | translate }}
      </h1>
      <h4 class="warning-second">
        {{ 'addChild.errorInfo' | translate }}
      </h4>
    </div>
  </ion-grid>
</ion-content>