<ion-header>
  <ion-navbar color="background">
    <ion-title>
      {{ 'activity.activity' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <loader *ngIf="loader"></loader>

  <ion-grid>

    <ion-list>

      <ion-list-header class="header">
        <ion-row>
          <ion-col
            class="data-change"
            col-12
          >
            <button
              (ionChanged)="setDate($event);"
              [cancelText]="cancelText[translate.getDefaultLang()]"
              [localeStrings]="appService.object[translate.getDefaultLang()]"
              [max]="today"
              [min]="minDate"
              [value]="date"
              class="data-change-button"
              icon-left
              ion-button
              ion-datepicker
              item-end
            >
              <span>{{ 'activity.changeDate' | translate }}</span>
              <ion-icon name="calendar"></ion-icon>
            </button>
          </ion-col>
          <ion-col
            (tap)="getDifferentDayChildActivity('-')"
            class="data-selection"
          >
            <ion-icon
              class="arrow"
              color="white"
              name="arrow-dropleft"
            ></ion-icon>
          </ion-col>
          <ion-col class="data-selection">
            <p class="list-header">{{ showTime(date) }}</p>
          </ion-col>
          <ion-col
            *ngIf="arrowFutureDisable"
            class="data-selection"
          >
            <ion-icon
              class="arrow"
              color="primary"
              name="arrow-dropright"
            ></ion-icon>
          </ion-col>
          <ion-col
            *ngIf="!arrowFutureDisable"
            (tap)="getDifferentDayChildActivity('+')"
            class="data-selection"
          >
            <ion-icon
              class="arrow"
              color="white"
              name="arrow-dropright"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-list-header>

      <ion-row class="choice">
        <ion-col
          *ngFor="let option of choiceArray; let i = index"
          class="option-block"
        >
          <button
            (tap)="makeChoice(i)"
            [ngClass]="{'selected': choice === i}"
            ion-button
          >
            {{ option.name }}
          </button>
        </ion-col>
      </ion-row>

      <ion-item
        *ngFor="let activity of activityTable; let i = index"
        class="item"
        text-wrap
      >
        <ion-row [ngStyle]="{'background-color': getCategoryColor(activity.source), 'opacity': 0.8}">
          <ion-col col-2>
            <ion-avatar class="avatar">
              <img
                [src]="childrenService.getChildPhotoFromId(activity.child_id)"
                class="child-image"
              >
            </ion-avatar>
          </ion-col>
          <ion-col col-3 class="child-name-field">
            <h2 class="child-name">{{ childrenService.getChildNameFromId(activity.child_id) }}</h2>
          </ion-col>
          <ion-col col-5 class="activity-description-field">
            <p class="activity-description-title">
              {{ getCategoryTitle(activity.source) }}
            </p>
            <!-- Breast -->
            <p
            *ngIf="activity.source === 'breast'"
            class="activity-description"
            >
              {{ 'statistics.breastSide' | translate }}: {{ getBreast(activity.side_id) }}
            </p>
            <p
            *ngIf="activity.source === 'breast'"
            class="activity-description"
            >
              {{ 'statistics.time' | translate }}: {{ timerService.secondConvert(activity.time) }}
            </p>
            <!-- Bottle -->
            <p
            *ngIf="activity.source === 'bottle'"
            class="activity-description"
            >
              {{ 'statistics.drunk' | translate }}: {{ activity.volume }}ml
            </p>
            <p
            *ngIf="activity.source === 'bottle'"
            class="activity-description"
            >
              {{ 'statistics.time' | translate }}: {{ timerService.secondConvert(activity.time) }}
            </p>
            <!-- Diaper -->
            <p
            *ngIf="activity.source === 'diaper'"
            class="activity-description"
            >
              {{ 'statistics.type' | translate }}: {{ getDiaper(activity.type_id) }}
            </p>
            <!-- Medicine -->
            <p
            *ngIf="activity.source === 'medicine'"
            class="activity-description"
            >
              {{ 'statistics.medicine' | translate }}: {{ activity.medicine }}
            </p>
            <p
            *ngIf="activity.source === 'medicine'"
            class="activity-description"
            >
              {{ 'statistics.portion' | translate }}: {{ activity.portion }}
            </p>
            <!-- Sleep -->
            <p
              *ngIf="activity.source === 'sleep'"
              class="activity-description"
            >
              {{ 'statistics.time' | translate }}: {{ timerService.secondConvert(activity.time) }}
            </p>
          </ion-col>
          <ion-col col-2>
            <ion-note class="activity-date">
              {{ showDayTime(activity.date) }
            }</ion-note>
          </ion-col>
        </ion-row>
      </ion-item>

      <div
        *ngIf="emptyTable"
        class="warning"
      >
        <ion-icon
          class="warning-icon"
          color="danger"
          name="alert"
        ></ion-icon>
        <h1 class="warning-first">
          {{ 'activity.noActivity' | translate }}
        </h1>
      </div>

    </ion-list>

  </ion-grid>
</ion-content>