page-modal {
    .icon-back {
        font-weight: normal;
        font-size: 35px;
    }
    .breast-choice {
        text-align: center;
        p {
            color: white;
        }
        .selected {
            background-color: #00cc66;
        }
        .child {
            margin-top: 25px;
            color: white;
            font-size: 25px;
        }
        .small-child-info {
            font-size: 19px;
        }
    }

    .bottle,
    .sleeping,
    .dieper,
    .medicine,
    .growth {
        color: white;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
            .drunk-value-box {
                display: flex;
                justify-content: center;
                align-items: center;
                .drunk-value {
                    width: 70px;
                    margin-left: 15px;
                    padding: 0;
                    .item-inner {
                        padding: 0 5px; 
                        input {
                            text-align: center;
                        }
                    }
                }
            }
    }
    .timer-content {
        .timer {
            height: 53px;
            color: #3f3f3f;
            h1 {
                font-size: 20px;
            }
        }
        .timer-controls {
            display: flex;
            flex-direction: column;
            .start {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 43px 130px 43px 0;
                border-color: transparent #00CC66 transparent transparent;
                margin: auto;
                background: transparent;
                position: relative;
                span {
                    position: absolute;
                    color: white;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 75px;
                }
            }
            .clear {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 43px 0 43px 130px;
                border-color: transparent transparent transparent #007bff;
                margin: auto;
                background: transparent;
                position: relative;
                top: -10px;
                span {
                    position: absolute;
                    color: white;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 50px;
                }
            }
            .counter-start {
                border-color: transparent #00CC66 transparent transparent;
            }
            .counter-pause {
                border-color: transparent rgb(255, 69, 69) transparent transparent;
            }
        }
    }
    .diaper-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .diaper-controls {
            display: flex;
            flex-direction: column;
            .feces {
                color: white;
                width: 130px;
                height: 50px;
                transform: skew(20deg);
                background: #727272;
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                span {
                    transform: skew(-20deg);
                }
            }
            .urine {
                color: white;
                width: 130px;
                height: 50px;
                transform: skew(-20deg);
                background: #727272;
                display: flex;
                justify-content: center;
                span {
                    transform: skew(20deg);
                }
            }
            .selected {
                background-color: #F5CFB3;
                color: #3f3f3f;
            }
        }
    }

    .medicine-content,
    .growth-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;
        .medicine-controls,
        .growth-controls {
            display: flex;
            flex-direction: column;
            .row {
                align-items: center;
                justify-content: center;
            }
        }
    }
    .growth-content {
        margin-top: 0;
    }
    .comment {
        margin: 0px 15px 0;
        ion-col {
            display: flex;
            justify-content: center;
            align-items: center;
            ion-item,
            button {
                height: 45px !important;
            }
        }
    }
}