<ion-header>
  <ion-toolbar color="background">
    <ion-buttons start>
      <button ion-button icon-only (tap)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
        {{ 'editActivity.editActivity' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <loader *ngIf="loader"></loader>

  <ion-grid>
    
    <img *ngIf="childPhoto" class="child-image" [src]="childrenService.getChildPhotoFromId(activity.child_id)">
    <img *ngIf="!childPhoto" class="child-image" src="http://via.placeholder.com/150x150">

      <ion-list>
        <ion-item>
          <ion-label fixed>{{ 'editActivity.child' | translate }}</ion-label>
          <ion-input (tap)="changeName()" type="text" [(ngModel)]="childName" name="childName" required></ion-input>
        </ion-item>

        <ion-item *ngIf="type == 'breast' || type == 'bottle' || type == 'sleep'">
          <ion-label fixed>{{ 'editActivity.time' | translate }} (s)</ion-label>
          <ion-input type="number" [(ngModel)]="time" name="time" required></ion-input>
        </ion-item>

        <ion-item *ngIf="type == 'bottle'">
          <ion-label fixed>{{ 'editActivity.drunk' | translate }} (ml)</ion-label>
          <ion-input type="number" [(ngModel)]="volume" name="volume" required></ion-input>
        </ion-item>

        <ion-item *ngIf="type == 'breast'">
          <ion-label fixed>{{ 'editActivity.breast' | translate }}</ion-label>
          <ion-input (tap)="changeBreast()" type="text" [(ngModel)]="breastSide" name="breastSide"  required></ion-input>
        </ion-item>

        <ion-item *ngIf="type == 'medicine'">
          <ion-label fixed>{{ 'editActivity.medicineName' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="medicine" name="medicine" required></ion-input>
        </ion-item>

        <ion-item *ngIf="type == 'medicine'">
          <ion-label fixed>{{ 'editActivity.portion' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="portion" name="portion"required></ion-input>
        </ion-item>

        <ion-item *ngIf="type == 'diaper'">
          <ion-label fixed>{{ 'editActivity.type' | translate }}</ion-label>
          <ion-input (tap)="changeDiaper()" type="text" [(ngModel)]="diaperType" name="diaperType" required></ion-input>
        </ion-item>

        <ion-item *ngIf="type == 'growth'">
          <ion-label fixed>{{ 'editActivity.weight' | translate }} (g)</ion-label>
          <ion-input type="number" [(ngModel)]="weight" name="weight" required></ion-input>
        </ion-item>

        <ion-item *ngIf="type == 'growth'">
          <ion-label fixed>{{ 'editActivity.lenght' | translate }} (cm)</ion-label>
          <ion-input type="number" [(ngModel)]="length" name="length" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>{{ 'editActivity.comment' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="comment" name="comment" required></ion-input>
          </ion-item>
        <!-- 
        <ion-item>
          <p fixed>Data</p>
          <button class="datepicker-button" item-end ion-button icon-left ion-datepicker (ionChanged)="setDate($event);" [value]="date"
          [localeStrings]="object">
          <span>{{ showTime(date) }}</span>
          <ion-icon class="date-icon" name="calendar"></ion-icon>
        </button>
        </ion-item> -->
      </ion-list>
      <button ion-button block color="danger" (tap)="remove()">Usuń</button>
      <button ion-button block color="white" (tap)="save()">Zapisz</button>
  </ion-grid>
</ion-content>