<ion-header>
  <ion-toolbar color="background">
    <ion-buttons start="start">
      <button
        (tap)="goBack()"
        icon-only="icon-only"
        ion-button="ion-button"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      {{ 'editActivity.editActivity' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <loader *ngIf="loader"></loader>

  <ion-grid>
    <img
      *ngIf="childPhoto"
      class="child-image"
      [src]="childrenService.getChildPhotoFromId(activity.child_id)"
    >

    <img
      *ngIf="!childPhoto"
      class="child-image"
      src="http://via.placeholder.com/150x150"
    >

    <ion-list>
      <ion-item>
        <ion-label fixed="fixed">
          {{ 'editActivity.child' | translate }}
        </ion-label>

        <ion-input
          (tap)="changeName()"
          [(ngModel)]="childName"
          name="childName"
          required="required"
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="type == 'breast' || type == 'bottle' || type == 'sleep'">
        <ion-label fixed="fixed">
          {{ 'editActivity.time' | translate }} (s)
        </ion-label>

        <ion-input
          [(ngModel)]="time"
          name="time"
          required="required"
          type="number"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="type == 'bottle'">
        <ion-label fixed="fixed">
          {{ 'editActivity.drunk' | translate }} (ml)
        </ion-label>

        <ion-input
          [(ngModel)]="volume"
          name="volume"
          required="required"
          type="number"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="type == 'breast'">
        <ion-label fixed="fixed">
          {{ 'editActivity.breast' | translate }}
        </ion-label>

        <ion-input
          (tap)="changeBreast()"
          [(ngModel)]="breastSide"
          name="breastSide"
          required="required"
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="type == 'medicine'">
        <ion-label fixed="fixed">
          {{ 'editActivity.medicineName' | translate }}
        </ion-label>

        <ion-input
          [(ngModel)]="medicine"
          name="medicine"
          required="required"
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="type == 'medicine'">
        <ion-label fixed="fixed">
          {{ 'editActivity.portion' | translate }}
        </ion-label>

        <ion-input
          [(ngModel)]="portion"
          name="portion"
          required="required"
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="type == 'diaper'">
        <ion-label fixed="fixed">
          {{ 'editActivity.type' | translate }}
        </ion-label>

        <ion-input
          (tap)="changeDiaper()"
          [(ngModel)]="diaperType"
          name="diaperType"
          required="required"
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="type == 'growth'">
        <ion-label fixed="fixed">
          {{ 'editActivity.weight' | translate }} (g)
        </ion-label>

        <ion-input
          [(ngModel)]="weight"
          name="weight"
          required="required"
          type="number"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="type == 'growth'">
        <ion-label fixed="fixed">
          {{ 'editActivity.lenght' | translate }} (cm)
        </ion-label>

        <ion-input
          [(ngModel)]="length"
          name="length"
          required="required"
          type="number"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed="fixed">
          {{ 'editActivity.comment' | translate }}
        </ion-label>

        <ion-input
          [(ngModel)]="comment"
          name="comment"
          required="required"
          type="text"
        ></ion-input>
      </ion-item>

      <!-- <ion-item>
          <p fixed>Data</p>
          <button class="datepicker-button" item-end ion-button icon-left ion-datepicker (ionChanged)="setDate($event);" [value]="date"
          [localeStrings]="object">
          <span>{{ showTime(date) }}</span>
          <ion-icon class="date-icon" name="calendar"></ion-icon>
        </button>
        </ion-item> -->
    </ion-list>

    <button
      (tap)="remove()"
      block="block"
      color="danger"
      ion-button="ion-button"
    >
      Usuń
    </button>

    <button
      (tap)="save()"
      block="block"
      color="white"
      ion-button="ion-button"
    >
      Zapisz
    </button>
  </ion-grid>
</ion-content>