<ion-header>
    <ion-navbar color="background">
      <ion-title>
        Pieluszka
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content>
    <loader *ngIf="loader"></loader>
    
    <ion-grid>
      <ion-row class="header">
        <ion-col class="logo-content">
          <div class="logo">
            <p>Pieluszka</p>
          </div>
        </ion-col>
        <ion-col class="choice-content">
          <div class="choice">
            <p class="choice-title">Przebieranie dzieci:</p>
            <button ion-button [ngClass]="{'selected': together}" (click)="diaperOption()">
                Razem
              </button>
              <button ion-button [ngClass]="{'selected': !together}" (click)="diaperOption()">
                Osobno
              </button>
          </div>
        </ion-col>
      </ion-row>
  
      <h1 class="select-child">Wybierz dziecko:</h1>
      <ion-row class="content">
        <ion-col *ngFor="let child of childrenService.children; let i = index">
          <div class="child-content">
            <button ion-button (click)="openModal(i)">
              <span>{{ child.name }}</span>
              <ion-icon name="arrow-round-forward"></ion-icon>
            </button>
            <div class="list-container">
                <ul>
                    <li *ngFor="let diaper of getChildDiaper(child.id)">
                       <p>{{ timerService.toTime(diaper.date) }}</p>
                       <p>{{ setDiaperType(diaper.type_id) }}<span *ngIf="diaper.comment"> / {{ diaper.comment }}</span></p>
                       <ion-icon class="more" name="more" (tap)="moreActions('diaper', diaper)"></ion-icon>
                       
                   </li>
                 </ul>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>