<ion-header>
  <ion-toolbar color="background">
    <ion-buttons start="start">
      <button
        (tap)="goBack()"
        icon-only="icon-only"
        ion-button="ion-button"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'changePassword.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <loader *ngIf="loader"></loader>

  <ion-grid>
    <img
      class="logo-image"
      src="./assets/images/logo.png"
    >
    <p class="change-password">
      {{ 'changePassword.old' | translate }}:
    </p>
    <ion-input
      [(ngModel)]="oldPassword"
      email="email"
      type="password"
    ></ion-input>

    <p class="change-password">
      {{ 'changePassword.new' | translate }}:
    </p>
    <ion-input
      [(ngModel)]="newPassword"
      email="email"
      type="password"
    ></ion-input>
    <p class="change-password">
      {{ 'changePassword.newRepeat' | translate }}:
    </p>
    <ion-input
      [(ngModel)]="newPasswordRewritten"
      email="email"
      type="password"
    ></ion-input>
    <p
      *ngIf="passwordMatch"
      color="danger"
    >
      {{ 'changePassword.notTheSame' | translate }}!
    </p>
    <div class="change-password-block">
      <button
        (click)="change()"
        block="block"
        color="white"
        ion-button="ion-button"
      >
        {{ 'changePassword.change' | translate }}
      </button>
    </div>
    <button
      color="color"
      ion-button="ion-button"
      navPop="white"
      outline="outline"
    >
      {{ 'changePassword.back' | translate }}
    </button>
  </ion-grid>
</ion-content>