<ion-header>
    <ion-toolbar color="background">
      <ion-buttons start>
          <button ion-button icon-only (tap)="goBack()">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
      </ion-buttons>
      <ion-title>
        Zmiana hasła
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <loader *ngIf="loader"></loader>
    
    <ion-grid>
      <img class="logo-image" src="./assets/images/logo.png">
      <p class="change-password">Stare haslo:</p>
      <ion-input [(ngModel)]="oldPassword" type="password" email></ion-input>
      <p class="change-password">Nowe haslo:</p>
      <ion-input [(ngModel)]="newPassword" type="password" email></ion-input>
      <p class="change-password">Powtórz nowe haslo:</p>
      <ion-input [(ngModel)]="newPasswordRewritten" type="password" email></ion-input>

      <p *ngIf="passwordMatch" color="danger">Hasła nie są takie same!</p>
  
      <div class="change-password-block">
        <button ion-button block color="white" (click)="change()">Zmień!</button>  
      </div>
  
      <button ion-button outline color navPop="white">Wróc</button>  
      
  </ion-grid>
</ion-content>
