<ion-header>
    <ion-toolbar color="background">
      <ion-buttons start>
          <button ion-button icon-only (tap)="goBack()">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
      </ion-buttons>
      <ion-title>
        {{ 'changePassword.title' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <loader *ngIf="loader"></loader>
    
    <ion-grid>
      <img class="logo-image" src="./assets/images/logo.png">
      <p class="change-password">{{ 'changePassword.old' | translate }}:</p>
      <ion-input [(ngModel)]="oldPassword" type="password" email></ion-input>
      <p class="change-password">{{ 'changePassword.new' | translate }}:</p>
      <ion-input [(ngModel)]="newPassword" type="password" email></ion-input>
      <p class="change-password">{{ 'changePassword.newRepeat' | translate }}:</p>
      <ion-input [(ngModel)]="newPasswordRewritten" type="password" email></ion-input>

      <p *ngIf="passwordMatch" color="danger">{{ 'changePassword.notTheSame' | translate }}!</p>
  
      <div class="change-password-block">
        <button ion-button block color="white" (click)="change()">{{ 'changePassword.change' | translate }}</button>  
      </div>
  
      <button ion-button outline color navPop="white">{{ 'changePassword.back' | translate }}</button>  
      
  </ion-grid>
</ion-content>
