<ion-menu side="right" [content]="nav">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item (tap)="onLoad(childrenPage)">
                <ion-icon name="people" color="white" item-left></ion-icon>
                {{ 'settings.children' | translate }}
            </button>
            <button ion-item (tap)="onLoad(addChildPage)">
                <ion-icon name="person-add" color="white" item-left></ion-icon>
                {{ 'settings.addChild' | translate }}
            </button>
            <button ion-item (tap)="onLoad(changePasswordPage)">
                <ion-icon name="settings" color="white" item-left></ion-icon>
                {{ 'settings.changePassword' | translate }}
            </button>
            <button ion-item icon-left (click)="onLogout()">
                <ion-icon name="log-out" color="white" item-left></ion-icon>
                {{ 'settings.logout' | translate }}
            </button>
            <button ion-item icon-left (click)="switchLanguage()">
                <img class="flag" [src]="flag" item-left> {{ 'settings.language' | translate }}
            </button>

            <p class="username">{{ authService.userName }}</p>
            <div class="version">
                <span class="version-title">{{ 'settings.version' | translate }}:</span>
                <span *ngIf="authService.premium == 0" class="version-type light">Light</span>
                <span *ngIf="authService.premium == 1" class="version-type premium">Premium</span>
            </div>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>