<ion-header>
    <ion-navbar color="background">
        <ion-buttons right>
            <button ion-button icon-only (tap)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
      <ion-title>
        Dzieci
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>
  <ion-grid>
      <div class="child-container" *ngFor="let child of childrenService.children; let i = index">
        <img *ngIf="child.photo" class="child-image" [src]="child.photo">
        <img *ngIf="!child.photo" class="child-image" src="http://via.placeholder.com/150x150">
          <h2>{{ child.name }}</h2>
          <p>Waga <span class="birth">(urodz.)</span></p>
          <p class="value">{{ child.weight }} g</p>
          <p>Długość <span class="birth">(urodz.)</span></p>
          <p class="value">{{ child.length }} cm</p>
          <p>Data urodzenia</p>
          <p class="value">{{ showTime(child.dateofbirth) }}</p>
          <div class="buttons-container">
              <button ion-button block color="" (tap)="edition(child)">Edycja</button>
              <button ion-button block color="danger" (tap)="remove(child.id)">Usuń</button>
          </div>
        </div>
  </ion-grid>
</ion-content>
