<ion-header>
  <ion-navbar color="background">
    <ion-buttons right="right">
      <button
        (tap)="goBack()"
        icon-only="icon-only"
        ion-button="ion-button"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'children.children' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <loader *ngIf="loader"></loader>

  <ion-grid>
    <div
      *ngFor="let child of childrenService.children; let i = index"
      class="child-container"
    >
      <img
        [src]="child.photo"
        *ngIf="child.photo"
        class="child-image"
      >
      <img
        *ngIf="!child.photo"
        class="child-image"
        src="http://via.placeholder.com/150x150"
      >
      <h2>{{ child.name }}</h2>
      <p>
        {{ 'children.weight' | translate }}

        <span class="birth">
          ({{ 'children.birth' | translate }})
        </span>
      </p>
      <p class="value">{{ child.weight }} g</p>
      <p>
        {{ 'children.length' | translate }}

        <span class="birth">
          ({{ 'children.birth' | translate }})
        </span>
      </p>
      <p class="value">{{ child.length }} cm</p>
      <p>
        {{ 'children.dateOfBirth' | translate }}
      </p>
      <p class="value">
        {{ showTime(child.dateofbirth) }}
      </p>
      <div class="buttons-container">
        <button
          (tap)="edition(child)"
          block="block"
          color=""
          ion-button="ion-button"
        >
          {{ 'children.edition' | translate }}
        </button>
        <button
          (tap)="remove(child.id, i)"
          block="block"
          color="danger"
          ion-button="ion-button"
        >
          {{ 'children.remove' | translate }}
        </button>
      </div>
    </div>
  </ion-grid>
</ion-content>