<ion-header>
    <ion-toolbar color="background">
      <ion-buttons start>
          <button ion-button icon-only (tap)="goBack()">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
      </ion-buttons>
      <ion-title>
          {{ 'editChild.editChild' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <loader *ngIf="loader"></loader>

    <ion-grid>
      <form *ngIf="editChildBlock" #childForm="ngForm" (ngSubmit)="editChild(childForm)">
        <ion-list>
          <ion-item>
            <ion-label fixed>{{ 'editChild.name' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="name" name="name" placeholder="imię dziecka" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label fixed>{{ 'editChild.weight' | translate }}</ion-label>
              <ion-input type="number" [(ngModel)]="weight" name="weight" placeholder="g" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>{{ 'editChild.lenght' | translate }}</ion-label>
                <ion-input type="number" [(ngModel)]="length" name="length" placeholder="cm" required></ion-input>
              </ion-item>
          <ion-item>
            <p fixed>{{ 'editChild.dateMain' | translate }}</p>
            <button class="datepicker-button" item-end ion-button icon-left ion-datepicker (ionChanged)="setDate($event);" [value]="date"
            [localeStrings]="object">
            <span>{{ showTime(date) }}</span>
            <ion-icon class="date-icon" name="calendar"></ion-icon>
          </button>
          </ion-item>
          <ion-item>
              <button class="button" ion-button block (click)="takePicture()">{{ 'editChild.takeImage' | translate }}</button>
              <button class="button" ion-button block (click)="setPicture()">{{ 'editChild.loadImage' | translate }}</button>
            </ion-item>
        </ion-list>
        <button class="submit-button" ion-button block color="white" type="submit" [disabled]="!childForm.valid">{{ 'editChild.add' | translate }}</button>
      </form>
    </ion-grid>
  </ion-content>