<ion-header>
  <ion-toolbar color="background">
    <ion-buttons start="start">
      <button
        (tap)="goBack()"
        icon-only="icon-only"
        ion-button="ion-button"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      {{ 'editChild.editChild' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <loader *ngIf="loader"></loader>

  <ion-grid>
    <form
      #childForm="ngForm"
      (ngSubmit)="editChild(childForm)"
      *ngIf="editChildBlock"
    >
      <ion-list>
        <ion-item>
          <ion-label fixed="fixed">
            {{ 'editChild.name' | translate }}
          </ion-label>

          <ion-input
            [(ngModel)]="name"
            name="name"
            placeholder="imię dziecka"
            required="required"
            type="text"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed="fixed">
            {{ 'editChild.weight' | translate }}
          </ion-label>

          <ion-input
            [(ngModel)]="weight"
            name="weight"
            placeholder="g"
            required="required"
            type="number"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed="fixed">
            {{ 'editChild.lenght' | translate }}
          </ion-label>

          <ion-input
            [(ngModel)]="length"
            name="length"
            placeholder="cm"
            required="required"
            type="number"
          ></ion-input>
        </ion-item>

        <ion-item>
          <p fixed="fixed">
            {{ 'editChild.dateMain' | translate }}
          </p>

          <button
            (ionChanged)="setDate($event);"
            [localeStrings]="object"
            [value]="date"
            class="datepicker-button"
            icon-left="icon-left"
            ion-button="ion-button"
            ion-datepicker="ion-datepicker"
            item-end="item-end"
          >
            <span>{{ showTime(date) }}</span>

            <ion-icon
              class="date-icon"
              name="calendar"
            ></ion-icon>
          </button>
        </ion-item>

        <ion-item>
          <button
            (click)="takePicture()"
            block="block"
            class="button"
            ion-button="ion-button"
          >
            {{ 'editChild.takeImage' | translate }}
          </button>

          <button
            (click)="setPicture()"
            block="block"
            class="button"
            ion-button="ion-button"
          >
            {{ 'editChild.loadImage' | translate }}
          </button>
        </ion-item>
      </ion-list>

      <button
        [disabled]="!childForm.valid"
        block="block"
        class="submit-button"
        color="white"
        ion-button="ion-button"
        type="submit"
      >
        {{ 'editChild.add' | translate }}
      </button>
    </form>
  </ion-grid>
</ion-content>