<ion-header>
  <ion-navbar color="background">
    <ion-title>
      {{ 'breast.breast' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <loader *ngIf="loader"></loader>

  <ion-grid>
    <ion-row class="header">
      <ion-col class="logo-content">
        <div class="logo">
          <p>{{ 'breast.breast' | translate }}</p>
        </div>
      </ion-col>
      <ion-col class="choice-content">
        <div class="choice">
          <p class="choice-title">{{ 'breast.childrenFeeding' | translate }}:</p>
          <button ion-button [ngClass]="{'selected': together}" (click)="feedingOption()">
            {{ 'breast.together' | translate }}
          </button>
          <button ion-button [ngClass]="{'selected': !together}" (click)="feedingOption()">
            {{ 'breast.separately' | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>

    <h1 class="select-child">{{ 'breast.chooseChild' | translate }}:</h1>
    <ion-row class="content">
      <ion-col *ngFor="let child of childrenService.children; let i = index">
        <div class="child-content">
          <button ion-button (click)="openModal(i)">
            <span>{{ child.name }}</span>
            <ion-icon name="arrow-round-forward"></ion-icon>
          </button>
          <div class="list-container">
            <ul>
              <li *ngFor="let breast of getChildBreast(child.id)">
                <p>{{ timerService.toTime(breast.date) }}</p>
                <p>{{ 'breast.time' | translate }}: {{ timerService.secondConvert(breast.time) }}
                  <span *ngIf="breast.comment"> - {{ breast.comment }}</span>
                </p>
                <ion-icon class="settings" name="settings" (tap)="moreActions('breast', breast)"></ion-icon>
              </li>
            </ul>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>