page-statistic-modal {
    #chartdiv {
        width: 100%;
        height: auto;
        max-height: 100vh;
    }
    .category-buttons {
        .chart-categories {
            color: white;
            text-align: center;
            margin: 15px 0 0 0;
            width: 100%;
        }
        .buttons-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
