<ion-header>
  <ion-toolbar color="background">
    <ion-buttons start="start">
      <button
        ion-button="ion-button"
        navPop="navPop"
      >
        <ion-icon
          class="icon-back"
          name="arrow-back"
        ></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Statystyki szczegolowe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="padding">
  <loader *ngIf="loader"></loader>

  <ion-grid>
    <canvas
      height="400"
      id="myChart"
      width="400"
    ></canvas>

    <div
      *ngIf="selectedCategory === 'breast'"
      class="category-buttons"
    >
      <p class="chart-categories">
        Średniego ilości wypitego mleka (zakresy)
      </p>

      <div class="buttons-container">
        <button
          (click)="selectBreastChart('weekcount')"
          ion-button="ion-button"
          small="small"
        >
          <span>Tydzień</span>
        </button>

        <button
          (click)="selectBreastChart('monthcount')"
          ion-button="ion-button"
          small="small"
        >
          <span>Miesiąc</span>
        </button>

        <button
          (click)="selectBreastChart('yearcount')"
          ion-button="ion-button"
          small="small"
        >
          <span>Rok</span>
        </button>

        <button
          (click)="selectBreastChart('allcount')"
          ion-button="ion-button"
          small="small"
        >
          <span>Wszystko</span>
        </button>
      </div>

      <p class="chart-categories">
        Średni czas karmienia (zakresy)
      </p>

      <div class="buttons-container">
        <button
          (click)="selectBreastChart('weektime')"
          ion-button="ion-button"
          small="small"
        >
          <span>Tydzień</span>
        </button>

        <button
          (click)="selectBreastChart('monthtime')"
          ion-button="ion-button"
          small="small"
        >
          <span>Miesiąc</span>
        </button>

        <button
          (click)="selectBreastChart('yeartime')"
          ion-button="ion-button"
          small="small"
        >
          <span>Rok</span>
        </button>

        <button
          (click)="selectBreastChart('alltime')"
          ion-button="ion-button"
          small="small"
        >
          <span>Wszystko</span>
        </button>
      </div>
    </div>

    <div
      class="category-buttons"
      *ngIf="selectedCategory === 'bottle'"
    >
      <p class="chart-categories">
        Średniego ilości wypitego mleka (zakresy)
      </p>

      <div class="buttons-container">
        <button
          (click)="selectBottleChart('weekvolume')"
          ion-button="ion-button"
          small="small"
        >
          <span>Tydzień</span>
        </button>

        <button
          (click)="selectBottleChart('monthvolume')"
          ion-button="ion-button"
          small="small"
        >
          <span>Miesiąc</span>
        </button>

        <button
          (click)="selectBottleChart('yearvolume')"
          ion-button="ion-button"
          small="small"
        >
          <span>Rok</span>
        </button>

        <button
          (click)="selectBottleChart('allvolume')"
          ion-button="ion-button"
          small="small"
        >
          <span>Wszystko</span>
        </button>
      </div>

      <p class="chart-categories">
        Średni czas karmienia (zakresy)
      </p>

      <div class="buttons-container">
        <button
          (click)="selectBottleChart('weektime')"
          ion-button="ion-button"
          small="small"
        >
          <span>Tydzień</span>
        </button>

        <button
          (click)="selectBottleChart('monthtime')"
          ion-button="ion-button"
          small="small"
        >
          <span>Miesiąc</span>
        </button>

        <button
          (click)="selectBottleChart('yeartime')"
          ion-button="ion-button"
          small="small"
        >
          <span>Rok</span>
        </button>

        <button
          (click)="selectBottleChart('alltime')"
          ion-button="ion-button"
          small="small"
        >
          <span>Wszystko</span>
        </button>
      </div>
    </div>

    <div
      class="category-buttons"
      *ngIf="selectedCategory === 'diaper'"
    >
      <p class="chart-categories">
        Ilość zrobionych kupek (zakresy)
      </p>

      <div class="buttons-container">
        <button
          (click)="selectDiaperChart('week')"
          ion-button="ion-button"
          small="small"
        >
          <span>Tydzień</span>
        </button>

        <button
          (click)="selectDiaperChart('month')"
          ion-button="ion-button"
          small="small"
        >
          <span>Miesiąc</span>
        </button>

        <button
          (click)="selectDiaperChart('year')"
          ion-button="ion-button"
          small="small"
        >
          <span>Rok</span>
        </button>

        <button
          (click)="selectDiaperChart('all')"
          ion-button="ion-button"
          small="small"
        >
          <span>Wszystko</span>
        </button>
      </div>
    </div>

    <div
      class="category-buttons"
      *ngIf="selectedCategory === 'sleep'"
    >
      <p class="chart-categories">Średni czas spania (zakresy)</p>

      <div class="buttons-container">
        <button
          (click)="selectSleepChart('week')"
          ion-button="ion-button"
          small="small"
        >
          <span>Tydzień</span>
        </button>

        <button
          (click)="selectSleepChart('month')"
          ion-button="ion-button"
          small="small"
        >
          <span>Miesiąc</span>
        </button>

        <button
          (click)="selectSleepChart('year')"
          ion-button="ion-button"
          small="small"
        >
          <span>Rok</span>
        </button>

        <button
          (click)="selectSleepChart('all')"
          ion-button="ion-button"
          small="small"
        >
          <span>Wszystko</span>
        </button>
      </div>
    </div>

    <div
      class="category-buttons"
      *ngIf="selectedCategory === 'growth'"
    >
      <p class="chart-categories">Zmiany wzrostu (zakresy)</p>

      <div class="buttons-container">
        <button
          (click)="selectWeightChart('week')"
          ion-button="ion-button"
          small="small"
        >
          <span>Tydzień</span>
        </button>

        <button
          (click)="selectWeightChart('month')"
          ion-button="ion-button"
          small="small"
        >
          <span>Miesiąc</span>
        </button>

        <button
          (click)="selectWeightChart('year')"
          ion-button="ion-button"
          small="small"
        >
          <span>Rok</span>
        </button>

        <button
          (click)="selectWeightChart('all')"
          ion-button="ion-button"
          small="small"
        >
          <span>Wszystko</span>
        </button>
      </div>
    </div>

    <div
      class="category-buttons"
      *ngIf="selectedCategory === 'weight'"
    >
      <p class="chart-categories">Zmiany wagi (zakresy)</p>

      <div class="buttons-container">
        <button
          (click)="selectGrowthChart('week')"
          ion-button="ion-button"
          small="small"
        >
          <span>Tydzień</span>
        </button>

        <button
          (click)="selectGrowthChart('month')"
          ion-button="ion-button"
          small="small"
        >
          <span>Miesiąc</span>
        </button>

        <button
          (click)="selectGrowthChart('year')"
          ion-button="ion-button"
          small="small"
        >
          <span>Rok</span>
        </button>

        <button
          (click)="selectGrowthChart('all')"
          ion-button="ion-button"
          small="small"
        >
          <span>Wszystko</span>
        </button>
      </div>
    </div>
  </ion-grid>
</ion-content>