page-sleeping {
    ion-grid {
        width: 100%;
        height: 100%;
        background-color: #3f3f3f;
        .header {
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            .logo-content {
                display: flex;
                justify-content: center;
                align-items: center;
                .logo {
                    height: 150px;
                    width: 150px;
                    background-color: #FFFFCF;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        text-align: center;
                    }
                }
            }
            .choice-content {
                display: flex;
                justify-content: center;
                align-items: center;
                .choice {
                    text-align: center;
                    .choice-title {
                        margin: 0 0 5px;
                        color: white;
                    }
                    button {
                        margin: 5px 0;
                    }
                    .selected {
                        background-color: #FFFFCF;
                        color: #3f3f3f;
                    }
                }
            }
        }
        .select-child {
            color: white;
            text-align: center;
        }
        .content {
            height: 60%;
            .child-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span {
                    margin-right: 10px;
                }
                .list-container {
                    width: 85%;
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 10px 0 0 0;
                        color: white;
                        width: 100%;
                        text-align: left;
                        li {
                            position: relative;
                            border-bottom: 1px solid #636363;
                            margin: 5px 0;
                            p,
                            span {
                                font-size: 14px;
                                margin: 2px 0 6px 0;
                            }
                            .settings { height: 100%; width: 25px;
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}
