<ion-header>
  <ion-navbar color="background">
    <ion-title>
      {{ 'bottle.bottle' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <loader *ngIf="loader"></loader>

  <ion-grid>
    <ion-row class="header">
      <ion-col class="logo-content">
        <div class="logo">
          <p>
            {{ 'bottle.childrenFeeding' | translate }}
          </p>
        </div>
      </ion-col>

      <ion-col class="choice-content">
        <div class="choice">
          <p class="choice-title">
            {{ 'bottle.bottle' | translate }}:
          </p>

          <button
            (click)="feedingOption()"
            [ngClass]="{'selected': together}"
            ion-button="ion-button"
          >
            {{ 'bottle.together' | translate }}
          </button>

          <button
            (click)="feedingOption()"
            [ngClass]="{'selected': !together}"
            ion-button="ion-button"
          >
            {{ 'bottle.separately' | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>

    <h1 class="select-child">
      {{ 'bottle.chooseChild' | translate }}:
    </h1>

    <ion-row class="content">
      <ion-col *ngFor="let child of childrenService.children; let i = index">
        <div class="child-content">
          <button
            (click)="openModal(i)"
            ion-button="ion-button"
          >
            <span>{{ child.name }}</span>
            <ion-icon name="arrow-round-forward"></ion-icon>
          </button>

          <div class="list-container">
            <ul>
              <li *ngFor="let bottle of getChildBottles(child.id)">
                <p>
                  {{ timerService.toTime(bottle.date) }}
                </p>
                <p>
                  {{ 'bottle.time' | translate }}: {{ timerService.secondConvert(bottle.time) }} / {{ 'bottle.volume' | translate }}: {{ bottle.volume }}ml

                  <span *ngIf="bottle.comment">- {{ bottle.comment }}</span>
                </p>
                <ion-icon
                  (tap)="moreActions('bottle', bottle)"
                  class="settings"
                  name="settings"
                ></ion-icon>
              </li>
            </ul>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>