<ion-header>
    <ion-navbar color="background">
        <ion-title>
            {{ 'medicines.medicines' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <loader *ngIf="loader"></loader>

    <ion-grid>
        <ion-row class="header">
            <ion-col class="logo-content">
                <div class="logo">
                    <p>
                        {{ 'medicines.medicines' | translate }}
                    </p>
                </div>
            </ion-col>
            <ion-col class="choice-content">
                <div class="choice">
                    <p class="choice-title">
                        {{ 'medicines.childrenMedicines' | translate }}:
                    </p>
                    <button
                        (click)="medicineOption()"
                        [ngClass]="{'selected': together}"
                        ion-button="ion-button"
                    >
                        {{ 'medicines.together' | translate }}
                    </button>
                    <button
                        (click)="medicineOption()"
                        [ngClass]="{'selected': !together}"
                        ion-button="ion-button"
                    >
                        {{ 'medicines.separately' | translate }}
                    </button>
                </div>
            </ion-col>
        </ion-row>
        <h1 class="select-child">
            {{ 'medicines.chooseChild' | translate }}:
        </h1>
        <ion-row class="content">
            <ion-col *ngFor="let child of childrenService.children; let i = index">
                <div class="child-content">
                    <button
                        (click)="openModal(i)"
                        ion-button="ion-button"
                    >
                        <span>{{ child.name }}</span>
                        <ion-icon name="arrow-round-forward"></ion-icon>
                    </button>
                    <div class="list-container">
                        <ul>
                            <li *ngFor="let medicine of getChildBreast(child.id)">
                                <p>
                                    {{ timerService.toTime(medicine.date) }}
                                </p>
                                <p>
                                    {{ medicine.medicine }} / {{ medicine.portion }}
                                    <span *ngIf="medicine.comment">- {{ medicine.comment }}</span>
                                </p>
                                <ion-icon
                                    (tap)="moreActions('medicine', medicine)"
                                    class="settings"
                                    name="settings"
                                ></ion-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>